.App {
  text-align: center;
}
* { 
  box-sizing: border-box;
 } 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-primary {
  background-color: #d7670b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.workSans {
            font-family: "Work Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight:600;
            font-style: normal;
        }
.poppins{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            
}
.source-sans {
                font-family: "Source Sans 3", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                
            }

          
          

.one{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;  
    animation-delay: 1s; 
}
.two{
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;  
    animation-delay: 2s; 
   }
.three{
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;  
    animation-delay: 2.5s; 
   }
.four{
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;  
    animation-delay: 3s; 
   }
.five{
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;  
    animation-delay: 3.5s; 
   }
  
   .delayInAnimation4s{
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;  
    animation-delay: 4s;


   }
   .delayInAnimation5s{
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;  
    animation-delay: 5s;
   }
   .delayInAnimation8s{
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;  
    animation-delay: 8s; 

   }
   .delayInAnimation9s{
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;  
    animation-delay: 9s;
   }
   .delayInAnimation12s{
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;  
    animation-delay: 12s; 

   }
   .delayInAnimation13s{
    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;  
    animation-delay: 13s;
   }
   .delayInAnimation16s{
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;  
    animation-delay: 16s;

   }
   .delayInAnimation17s{
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;  
    animation-delay: 17s;
   }
   .delayInAnimation20s{
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;  
    animation-delay: 20s; 

   }
   .delayInAnimation21s{
    -webkit-animation-delay: 21s;
    -moz-animation-delay: 21s;  
    animation-delay: 21s;
   }
   .delayInAnimation24s{
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;  
    animation-delay: 24s;
   }
   .delayInAnimation25s{
    -webkit-animation-delay: 25s;
    -moz-animation-delay: 25s;  
    animation-delay: 5s;
   }
   
   

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
   
    
}
.bg-img-1 {
  background-image: url('./assets/slider-1.jpg');
}
.bg-img-2 {
  background-image: url('./assets/slider-2.jpg');
}
.bg-img-3 {
  background-image: url('./assets/slider-3.jpg');
}
.carousel-image {
  height: 100vh;
  background-size: cover;
  background-position: center;

}
.extended-content-container {
  position: absolute;
  left: -12%;
  
}
.turnOnIn1s {
  animation: 25s turnOn1s infinite linear;

  animation-fill-mode: none;

}
.turnOnIn4s {
  animation: 25s turnOn4s infinite linear ;

  animation-fill-mode: none;

}
.turnOnIn8s {
  animation: 25s turnOn8s infinite linear ;
  animation-fill-mode: none;

}
.turnOnIn12s {
  animation: 25s turnOn12s infinite linear ;
  animation-fill-mode: none;

}
.turnOnIn16s {
  animation: 25s turnOn16s infinite linear ;
  animation-fill-mode: none;

}
.turnOnIn20s {
  animation: 25s turnOn20s infinite linear ;

  animation-fill-mode: none;

}



/* The animation code */


  @keyframes turnOn1s {
    0%   {background-color: transparent; color:#00000088;}
    3%   {background-color: transparent; color:#00000088;}
    4%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @-webkit-keyframes turnOn1s {
    0%   {background-color: transparent; color:#00000088;}
    3%   {background-color: transparent; color:#00000088;}
    4%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @keyframes turnOn4s {
    0%   {background-color: transparent; color:#00000088;}
    15%   {background-color: transparent; color:#00000088;}
    16%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @-webkit-keyframes turnOn4s {
    0%   {background-color: transparent; color:#00000088;}
    15%   {background-color: transparent; color:#00000088;}
    16%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @keyframes turnOn8s {
    0%   {background-color: transparent; color:#00000088;}
    31%   {background-color: transparent; color:#00000088;}
    32%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @-webkit-keyframes turnOn8s {
    0%   {background-color: transparent; color:#00000088;}
    31%   {background-color: transparent; color:#00000088;}
    32%  {background-color: black; color:white;}
    0%   {background-color: transparent; color:#00000088;}
    100% {background-color: black; color:white;}
  }
  @keyframes turnOn12s {
    0%   {background-color: transparent; color:#00000088;}
    47%   {background-color: transparent; color:#00000088;}
    48%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @-webkit-keyframes turnOn12s {
    0%   {background-color: transparent; color:#00000088;}
    47%   {background-color: transparent; color:#00000088;}
    48%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @keyframes turnOn16s {
    0%   {background-color: transparent; color:#00000088;}
    63%   {background-color: transparent; color:#00000088;}
    64%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @-webkit-keyframes turnOn16s {
    0%   {background-color: transparent; color:#00000088;}
    63%   {background-color: transparent; color:#00000088;}
    64%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @keyframes turnOn20s {
    0%   {background-color: transparent; color:#00000088;}
    79%   {background-color: transparent; color:#00000088;}
    80%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  @-webkit-keyframes turnOn20s {
    0%   {background-color: transparent; color:#00000088;}
    79%   {background-color: transparent; color:#00000088;}
    80%  {background-color: black; color:white;}
    100% {background-color: black; color:white;}
  }
  
  /* The class to apply the animation to */

  /* The animation code */

@keyframes noneToBlockIn0s {
  0%   {display: none;}
  3%   {display: none;}
  4%  {display: block ;}
  15% {display: none;}
  100% {display: none;}
  }
@-webkit-keyframes noneToBlockIn0s {
  0%   {display: none;}
  3%   {display: none;}
  4%  {display: block ;}
  15% {display: none;}
  100% {display: none;}
  }
@keyframes noneToBlockIn4s {
  0%   {display: none;}
  15%   {display: none;}
  16%  {display: block ;}
  31% {display: none;}
  100% {display: none;}
  }
@-webkit-keyframes noneToBlockIn4s {
  0%   {display: none;}
  15%   {display: none;}
  16%  {display: block ;}
  31% {display: none;}
  100% {display: none;}
  }
@keyframes noneToBlockIn8s {
  0%   {display: none;}
  31%   {display: none;}
  32%  {display: block ;}
  47% {display: none;}
  100% {display: none;}
  }
@-webkit-keyframes noneToBlockIn8s {
  0%   {display: none;}
  31%   {display: none;}
  32%  {display: block ;}
  47% {display: none;}
  100% {display: none;}
  }
@keyframes noneToBlockIn12s {
  0%   {display: none;}
  47%   {display: none;}
  48%  {display: block ;}
  63% {display: none;}
  100% {display: none;}
  }
@-webkit-keyframes noneToBlockIn12s {
  0%   {display: none;}
  47%   {display: none;}
  48%  {display: block ;}
  63% {display: none;}
  100% {display: none;}
  }
@keyframes noneToBlockIn16s {
    0%   {display: none;}
    63%   {display: none;}
    64%  {display: block ;}
    79% {display: none;}
    100% {display: none;}
    }
  @-webkit-keyframes noneToBlockIn16s {
    0%   {display: none;}
    63%   {display: none;}
    64%  {display: block ;}
    79% {display: none;}
    100% {display: none;}
    }
@keyframes noneToBlockIn20s {
  0%   {display: none;}
  79%   {display: none;}
  80%  {display: block ;}
  100% {display: none;}
  }
@-webkit-keyframes noneToBlockIn20s {
  0%   {display: none;}
  79%   {display: none;}
  80%  {display: block ;}
  100% {display: none;}
  }
  @keyframes noneToBlockIn0sTable {
    0%   {display: none;}
    0.1%  {display: block ;}
    33.3% {display: none;}
    100% {display: none;}
    }
  @-webkit-keyframes noneToBlockIn0sTable {
    0%   {display: none;}
    0.1%  {display: block ;}
    33.3% {display: none;}
    100% {display: none;}
    }
    @keyframes noneToBlockIn10sTable {
      0%   {display: none;}
      33.3%   {display: none;}
      33.4%  {display: block ;}
      66.6% {display: none;}
      100% {display: none;}
      }
    @-webkit-keyframes noneToBlockIn10sTable {
      0%   {display: none;}
      33.3%   {display: none;}
      33.4%  {display: block ;}
      66.6% {display: none;}
      100% {display: none;}
      }
      @keyframes noneToBlockIn20sTable {
        0%   {display: none;}
        66.6%   {display: none;}
        66.7%  {display: block ;}
        100% {display: none;}
        }
      @-webkit-keyframes noneToBlockIn20sTable {
        0%   {display: none;}
        66.6%   {display: none;}
        66.7%  {display: block ;}
        100% {display: none;}
        }
        @keyframes orangeTableIn0s {
          0%   {background-color: black; color: white;}
          0.1%  {background-color: #ff7607; color: black}
          33.2% {background-color: #ff7607; color: black}
          33.3% {background-color: black; color: white;}
          100% {background-color: black; color: white;}
          }
        @-webkit-keyframes orangeTableIn0s {
          0%   {background-color: black; color: white;}
          0.1%  {background-color: #ff7607; color: black}
          33.2% {background-color: #ff7607; color: black}
          33.3% {background-color: black; color: white;}
          100% {background-color: black; color: white;}
          }
          @keyframes orangeTableIn10s {
            0%    {background-color: black; color: white;}
            33.3% {background-color: black; color: white;}
            33.4% {background-color: #ff7607; color: black}
            66.5% {background-color: #ff7607; color: black}
            66.6% {background-color: black; color: white;}
            100%  {background-color: black; color: white;}
            }
          @-webkit-keyframes orangeTableIn10s {
            0%    {background-color: black; color: white;}
            33.3% {background-color: black; color: white;}
            33.4% {background-color: #ff7607; color: black}
            66.5% {background-color: #ff7607; color: black}
            66.6% {background-color: black; color: white;}
            100%  {background-color: black; color: white;}
            }
            @keyframes orangeTableIn20s {
              0%   {background-color: black; color: white;}
              66.6%   {background-color: black; color: white;}
              66.7%  {background-color: #ff7607; color: black}
              99.9% {background-color: #ff7607; color: black}
              100% {background-color: black; color: white;}
            }
            @-webkit-keyframes orangeTableIn20s {
              0%   {background-color: black; color: white;}
              66.6%   {background-color: black; color: white;}
              66.7%  {background-color: #ff7607; color: black}
              99.9% {background-color: #ff7607; color: black}
              100% {background-color: black; color: white;}
            }


 /* The class to apply the animation to */
  .noneToBlock {
    animation: 25s noneToBlockIn0s infinite linear ;

    animation-fill-mode: none;
  
   
  }
  .noneToBlock4s {
    animation: 25s noneToBlockIn4s infinite linear ;

    animation-fill-mode: none;
  
   
  }
  .noneToBlock8s {
    animation: 25s noneToBlockIn8s infinite linear ;

    animation-fill-mode: none;
  
   
  }
  .noneToBlock12s {
    animation: 25s noneToBlockIn12s infinite linear ;

    animation-fill-mode: none;
  
  }
  .noneToBlock16s {
    animation: 25s noneToBlockIn16s infinite linear ;

    animation-fill-mode: none;
  
   
  }
  .noneToBlock20s {
    animation: 25s noneToBlockIn20s infinite linear ;

    animation-fill-mode: none;
  
   
  }
  .noneToBlock0sTable {
    animation: 30s noneToBlockIn0sTable infinite linear;
    animation-fill-mode: none;

  }
  .noneToBlock10sTable {
    animation: 30s noneToBlockIn10sTable infinite linear;
    animation-fill-mode: none;

  }
  .noneToBlock20sTable {
    animation: 30s noneToBlockIn20sTable infinite linear;
    animation-fill-mode: none;

  }
  .orangeTable0s {
    animation: 30s orangeTableIn0s infinite linear;
    animation-fill-mode: none;

  }
  .orangeTable10s {
    animation: 30s orangeTableIn10s infinite linear;
    animation-fill-mode: none;

  }
  .orangeTable20s {
    animation: 30s orangeTableIn20s infinite linear;
    animation-fill-mode: none;

  }



  
@-webkit-keyframes fadeUp {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
}
    @keyframes fadeUp {
        from{
            opacity: 0;
            -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
        }
        to{
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            
        }
    }
    .fadeUp {
        -webkit-animation-name: fadeup;
        animation-name: fadeUp;
    }
    @-webkit-keyframes fadeDown {
        from{
            opacity: 0;
            -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
        }
        to{
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            
        }
    }
        @keyframes fadeDown {
            from{
                opacity: 0;
                -webkit-transform: translate3d(0,-100%,0);
                transform: translate3d(0,-100%,0);
            }
            to{
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                
            }
        }
        .fadeDown {
            -webkit-animation-name: fadeDown;
            animation-name: fadeDown;
        }
        @-webkit-keyframes fadeLeft {
            from{
                opacity: 0;
                -webkit-transform: translate3d(-100,0%,0);
                transform: translate3d(-100,0%,0);
            }
            to{
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                
            }
        }
            @keyframes fadeLeft {
                from{
                    opacity: 0;
                    -webkit-transform: translate3d(-100,0%,0);
                    transform: translate3d(-100,0,0);
                }
                to{
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    
                }
            }
            .fadeLeft {
                -webkit-animation-name: fadeLeft;
                animation-name: fadeLeft;
            }
            @-webkit-keyframes fadeRight {
                from{
                    opacity: 0;
                    -webkit-transform: translate3d(100%,0,0);
                    transform: translate3d(100%,0,0);
                }
                to{
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    
                }
            }
                @keyframes fadeRight {
                    from{
                        opacity: 0;
                        -webkit-transform: translate3d(100%,0,0);
                        transform: translate3d(100%,0,0);
                    }
                    to{
                        opacity: 1;
                        -webkit-transform: none;
                        transform: none;
                        
                    }
                }
                .fadeRight {
                    -webkit-animation-name: fadeRight;
                    animation-name: fadeRight;
                }
            
        

@keyframes zoom{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.5,1.5);
    }
  }
.promo-btn-radius {
    border-bottom-right-radius: 20% 30%;
    border-top-left-radius: 20% 30%;
}
