.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-primary {
  background-color: #d7670b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.workSans {
            font-family: "Work Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight:600;
            font-style: normal;
        }
.poppins{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            
}
.source-sans {
                font-family: "Source Sans 3", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                
            }

          
          

.one{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;  
    animation-delay: 1s; 
}
.two{
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;  
    animation-delay: 2s; 
   }
.three{
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;  
    animation-delay: 2.5s; 
   }
.four{
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;  
    animation-delay: 3s; 
   }
.five{
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;  
    animation-delay: 3.5s; 
   }
  
   .delayInAnimation4s{
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;  
    animation-delay: 4s;


   }
   .delayInAnimation5s{
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;  
    animation-delay: 5s;
   }
   .delayInAnimation8s{
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;  
    animation-delay: 8s; 

   }
   .delayInAnimation9s{
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;  
    animation-delay: 9s;
   }
   .delayInAnimation12s{
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;  
    animation-delay: 12s; 

   }
   .delayInAnimation13s{
    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;  
    animation-delay: 13s;
   }
   .delayInAnimation16s{
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;  
    animation-delay: 16s;

   }
   .delayInAnimation17s{
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;  
    animation-delay: 17s;
   }
   .delayInAnimation20s{
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;  
    animation-delay: 20s; 

   }
   .delayInAnimation21s{
    -webkit-animation-delay: 21s;
    -moz-animation-delay: 21s;  
    animation-delay: 21s;
   }
   .delayInAnimation24s{
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;  
    animation-delay: 24s;
   }
   .delayInAnimation25s{
    -webkit-animation-delay: 25s;
    -moz-animation-delay: 25s;  
    animation-delay: 25s;
   }
   
   

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
   
    
}
.bg-img-1 {
  background-image: url('./assets/slider-1.jpg');
}
.bg-img-2 {
  background-image: url('./assets/slider-2.jpg');
}
.bg-img-3 {
  background-image: url('./assets/slider-3.jpg');
}
.carousel-image {
  height: 100vh;
  background-size: cover;
  background-position: center;

}
.extended-content-container {
  position: absolute;
  left: -12%;
  
}
.turnOn {

  animation-name: turnOn;
  animation-fill-mode: both;

}

/* The animation code */

@keyframes turnOn {
    from {background-color:transparent;}
    to {background-color:black ;}
    from {color: #00000088;}
    to {color: white;}
  }
  @-webkit-keyframes turnOn {
    from {background-color:transparent;}
    to {background-color:black ;}
    from {color: #00000088;}
    to {color: white;}
  }
  
  /* The class to apply the animation to */

  /* The animation code */

@keyframes noneToBlock {
    from {display: none;}
    to {display: block !important;}
  }
  @-webkit-keyframes noneToBlock {
    from {display: none;}
    to {display: block !important;}
  }
 /* The class to apply the animation to */
  .noneToBlock {
    -webkit-animation-name: noneToBlock;
    animation-name: noneToBlock;
   
  }
  .noneToBlock4s {
    -webkit-animation-name: noneToBlock;
    animation-name: noneToBlock;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;  
    animation-delay: 4s;
   
  }
  .noneToBlock8s {
    -webkit-animation-name: noneToBlock;
    animation-name: noneToBlock;
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;  
    animation-delay: 8s;
   
  }
  .noneToBlock12s {
    -webkit-animation-name: noneToBlock;
    animation-name: noneToBlock;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;  
    animation-delay: 12s;
   
  }
  .noneToBlock16s {
    -webkit-animation-name: noneToBlock;
    animation-name: noneToBlock;
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;  
    animation-delay: 16s;
   
  }
  .noneToBlock20s {
    -webkit-animation-name: noneToBlock;
    animation-name: noneToBlock;
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;  
    animation-delay: 20s;
   
  }
  @keyframes blockToNone  {
    from {
      display: block;
    opacity: 1;
  }
    to {display: none;
      opacity: 0;
    }
  }
  @-webkit-keyframes blockToNone  {
    from {display: block;}
    to {display: none;}
  }
 /* The class to apply the animation to */
 .blockToNone {
  -webkit-animation-name: blockToNone ;
  animation-name: blockToNone ;
 }
  .blockToNone4s {
    -webkit-animation-name: blockToNone ;
    animation-name: blockToNone ;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;  
    animation-delay: 4s;
   
  }
  .blockToNone8s {
    -webkit-animation-name: blockToNone ;
    animation-name: blockToNone ;
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;  
    animation-delay: 8s;
   
  }
  .blockToNone12s {
    -webkit-animation-name: blockToNone ;
    animation-name: blockToNone ;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;  
    animation-delay: 12s;
   
  }
  .blockToNone16s {
    -webkit-animation-name: blockToNone ;
    animation-name: blockToNone ;
    -webkit-animation-delay: 16s;
    -moz-animation-delay: 16s;  
    animation-delay: 16s;
   
  }

.blockToNone20s {
  -webkit-animation-name: blockToNone ;
  animation-name: blockToNone ;
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;  
  animation-delay: 20s;
 
}
.blockToNone24s {
  -webkit-animation-name: blockToNone ;
  animation-name: blockToNone ;
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;  
  animation-delay: 24s;
 
}
  .remove-animation {
    animation: none 4s !important;
  }
  .repeatAnimation {
      animation: turnOn 50s -25s linear infinite;

  }

  
@-webkit-keyframes fadeUp {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
}
    @keyframes fadeUp {
        from{
            opacity: 0;
            -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
        }
        to{
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            
        }
    }
    .fadeUp {
        -webkit-animation-name: fadeup;
        animation-name: fadeUp;
    }
    @-webkit-keyframes fadeDown {
        from{
            opacity: 0;
            -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
        }
        to{
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            
        }
    }
        @keyframes fadeDown {
            from{
                opacity: 0;
                -webkit-transform: translate3d(0,-100%,0);
                transform: translate3d(0,-100%,0);
            }
            to{
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                
            }
        }
        .fadeDown {
            -webkit-animation-name: fadeDown;
            animation-name: fadeDown;
        }
        @-webkit-keyframes fadeLeft {
            from{
                opacity: 0;
                -webkit-transform: translate3d(-100,0%,0);
                transform: translate3d(-100,0%,0);
            }
            to{
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                
            }
        }
            @keyframes fadeLeft {
                from{
                    opacity: 0;
                    -webkit-transform: translate3d(-100,0%,0);
                    transform: translate3d(-100,0,0);
                }
                to{
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    
                }
            }
            .fadeLeft {
                -webkit-animation-name: fadeLeft;
                animation-name: fadeLeft;
            }
            @-webkit-keyframes fadeRight {
                from{
                    opacity: 0;
                    -webkit-transform: translate3d(100%,0,0);
                    transform: translate3d(100%,0,0);
                }
                to{
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    
                }
            }
                @keyframes fadeRight {
                    from{
                        opacity: 0;
                        -webkit-transform: translate3d(100%,0,0);
                        transform: translate3d(100%,0,0);
                    }
                    to{
                        opacity: 1;
                        -webkit-transform: none;
                        transform: none;
                        
                    }
                }
                .fadeRight {
                    -webkit-animation-name: fadeRight;
                    animation-name: fadeRight;
                }
            
        

@keyframes zoom{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.5,1.5);
    }
}