.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-primary {
  background-color: #d7670b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sliderImg {
  
}
.workSans {
            font-family: "Work Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight:600;
            font-style: normal;
        }
.poppins{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            
}
.source-sans {
                font-family: "Source Sans 3", sans-serif;
                font-optical-sizing: auto;
                font-weight: 600;
                font-style: normal;
                
            }

          
          

.one{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;  
    animation-delay: 1s; 
}
.two{
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;  
    animation-delay: 2s; 
   }
.three{
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;  
    animation-delay: 2.5s; 
   }
.four{
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;  
    animation-delay: 3s; 
   }
.five{
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;  
    animation-delay: 3.5s; 
   }
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
.bg-img-1 {
  background-image: url('./assets/slider-1.jpg');
}
.bg-img-2 {
  background-image: url('./assets/slider-2.jpg');
}
.bg-img-3 {
  background-image: url('./assets/slider-3.jpg');
}
.carousel-image {
  height: 100vh;
  background-size: cover;
  background-position: center;

}
.extended-content-container {
  position: absolute;
  left: -12%;
  
}
@-webkit-keyframes fadeUp {
    from{
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        
    }
}
    @keyframes fadeUp {
        from{
            opacity: 0;
            -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
        }
        to{
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            
        }
    }
    .fadeUp {
        -webkit-animation-name: fadeup;
        animation-name: fadeUp;
    }
    @-webkit-keyframes fadeDown {
        from{
            opacity: 0;
            -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
        }
        to{
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            
        }
    }
        @keyframes fadeDown {
            from{
                opacity: 0;
                -webkit-transform: translate3d(0,-100%,0);
                transform: translate3d(0,-100%,0);
            }
            to{
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                
            }
        }
        .fadeDown {
            -webkit-animation-name: fadeDown;
            animation-name: fadeDown;
        }
        @-webkit-keyframes fadeLeft {
            from{
                opacity: 0;
                -webkit-transform: translate3d(-100,0%,0);
                transform: translate3d(-100,0%,0);
            }
            to{
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                
            }
        }
            @keyframes fadeLeft {
                from{
                    opacity: 0;
                    -webkit-transform: translate3d(-100,0%,0);
                    transform: translate3d(-100,0,0);
                }
                to{
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    
                }
            }
            .fadeLeft {
                -webkit-animation-name: fadeLeft;
                animation-name: fadeLeft;
            }
            @-webkit-keyframes fadeRight {
                from{
                    opacity: 0;
                    -webkit-transform: translate3d(100%,0,0);
                    transform: translate3d(100%,0,0);
                }
                to{
                    opacity: 1;
                    -webkit-transform: none;
                    transform: none;
                    
                }
            }
                @keyframes fadeRight {
                    from{
                        opacity: 0;
                        -webkit-transform: translate3d(100%,0,0);
                        transform: translate3d(100%,0,0);
                    }
                    to{
                        opacity: 1;
                        -webkit-transform: none;
                        transform: none;
                        
                    }
                }
                .fadeRight {
                    -webkit-animation-name: fadeRight;
                    animation-name: fadeRight;
                }
            
        
    

/*@keyframes fadeInRight {
    from{
        opacity: 0;
        transform: translate3d(100px,0,0);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.fadeInRight{
    animation-name: fadeInRight;
} */

@keyframes zoom{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.5,1.5);
    }
}