@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ElegantIcons";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Poppins-Black.ttf) format("ttf");
  }
}
@font-face {
  font-family: 'custom-font';
  src: url('./fonts/Poppins-Light.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
